/* mobile */
@media screen and (max-width: 576px){
    .carousel-caption{
        margin-top: -50px;
    }

    .carousel-item img{
        height: 300px;
    }
}

.tokenfield .token{
    margin: -1px 3px 1px 1px;
    height: 25px;
    color: white;
    line-height: 22px;
    border: none;
    background-color: dimgray;
}

.tokenfield .token a{
    color: white;
    text-decoration: none;
}